.App{
    padding: 30px;
}
.done{
    position: relative;
}
.done::after{
    content: '';
    position: absolute;
    bottom: 45%;
    left: 0;
    width:100%;
    height: 1px;
    background: black;
}
